django
django-resized
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-allauth
django-request-logging
dj-rest-auth
python-decouple
mysqlclient
pytest
pytest-django
pytest-cov
pytest-sugar
pytest-mock
mixer
pillow
